
body {
	margin:0;
	padding:0;
}
@font-face {
	font-family: 'Lato-Light';
	src: url('css/fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	src: url('css/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-Bold';
	src: url('css/fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'TallyTextBold';
	src: url('css/fonts/TallyTextBold.ttf') format('truetype');
}


.header{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}
.inactive-div{
	background-color: #80b3ff;
	color: #fff;
	border: 1px solid #ff7f2a;
	width:60%;
	margin-left: 20%;
	display: flex;
	align-items: center; /* horizontal */
	justify-content: center; /* vertical */
	height: 50px;
	border-radius: 5px;
	text-align: center;
}
.active-div{
	background-color: #ff7f2a;
	color: #fff;
	width:60%;
	margin-left: 20%;
	display: flex;
	align-items: center; /* horizontal */
	justify-content: center; /* vertical */
	height: 50px;
	text-align: center;
	border-radius: 5px;
}

a:-webkit-any-link {text-decoration:none}
.main-area{
	margin-left: 20%;
	margin-right: 20%;
}
.home{
	margin-left: 10%;
}

.lato-font{
	font-family: 'Lato-Light';
}
.raleway-font{
	font-family: 'Raleway-Bold';
}

@media only screen and (max-width: 700px) and (min-width: 360px){
	.main-area{
		margin-left: 1%;
		margin-right: 1%;
	}
}


@media only screen and (min-width: 980px){
	.main-area{
		margin-left: 15%;
		margin-right: 15%;
	}   
}